<header>
    <div>
        <h2>LA RÉSIDENCE</h2>
    </div>
    <nav>
        <ul>
            <li><a href="#hero" class="btn">Accueil</a></li>
            <li><a href="#presentation" class="btn">La Résidence</a></li>
            <li><a href="#houses" class="btn">Nos Maisons</a></li>
            <li><a href="#footer" class="btn">Contact</a></li>
        </ul>
    </nav>
</header>